<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} - Blog</title>
</head>
<body>
    <div>
        Blog:
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
        {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% include '_message.html' %}
    {% block content %}
    {% endblock %}
    <hr>
    &copy; Copyright 2021
</body>
</html>