<!DOCTYPE html>
<tr valign="top">
    <td>
        <a href="{{ url_for('user', username=post.author.name) }}">{{ post.author.name }}</a><br>
        {{ post.timestamp }}
    </td>
    <td>
        <b>{{ post.title }}</b><br>
        {{ post.body }}<br>
        {% if current_user.is_authenticated and post.user_id != current_user.id %}
            <a href="{{ url_for('like', post=post.id, next=request.path) }}">Likes</a> {{ post.like_num }}<br>
        {% else %}
            Likes {{ post.like_num }}<br>
        {% endif %}
        <a href="{{ url_for('comments', post=post.id, next=request.path) }}">Comments {{ post.get_comments_num() }}</a>
    </td>
</tr>
