<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <h2>{{ title }}'s user page</h2>
    {% if username %}
        <p>Hello, {{ username }}!</p>
    {% else %}
        <p>Hello, World!</p>
    {% endif %}
    {% if form %}
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.title.label }}<br>
                {{ form.title(size=64) }}<br>
                {% for error in form.title.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.body.label }}<br>
                {{ form.body(cols=66, rows=6) }}<br>
                {% for error in form.body.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    {% endif %}
    <table cellspacing="10">
        {% for post in posts %}
            {% include 'post.html' %}
        {% endfor %}
    </table>
{% endblock %}